[buildout]
extensions = mr.developer
#index = http://pypi.affinitic.be/affinitic/packages/+simple/
extends = https://raw.github.com/collective/buildout.plonetest/master/plone-4.3.x.cfg
develop =
sources-dir = devel
parts += omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
zc.buildout = 2.2.5
setuptools = 7.0
